.container {
  width: min(100% - 30px, 1200px);
  margin-inline: auto; 
}

body{
  font-family: 'Noto Sans', sans-serif;
}

/*----------------------- Header */
header{
  background-color: #C7E7C4;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  height: 60px;
}

.logo{
  width: 50px;
  height: 50px;
}

.title {
  text-align: center;
  display: flex;
}

.title h1 {
  font-weight: 500;
  color: #1a1c24;
  margin: 0;
}

.navigation {
  text-align: right;
}

.navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation li {
  display: inline-block;
  margin-left: 10px;
}

.navigation li:first-child {
  margin-left: 0;
}

.navigation li a {
  text-decoration: none;
  color: #1a1c24;
  font-weight: 400;
  padding: 5px 10px;
  transition: color 0.3s ease-in-out;
}

.navigation li a:hover {
  color: green;
}

/*----------------Banner */
.banner{
  color: rgb(212, 235, 212);
  margin-top: 40px;
}

.quote {
  display: flex;
  justify-content: center;
}
.quote h3{
  color: rgb(192, 234, 108);
}
.banner p{
 margin-top: 10px;

}

.btnDiv{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 120px;
    transition: color 0.3s ease-in-out;
}

.secondary button{
  color: green;
  margin-right: 4px;
  border: 1px solid green;

}

.secondary button:hover{
  color: yellowgreen;
}
.primary button{
  color: rgb(212, 235, 212);
  background-color: green;
  margin-left: 4px;
}
.primary button:hover{
  color: yellowgreen;
}

/* --------------- Gallery*/

.gallery {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.gallery div {
  flex: 1;
  border: 1px solid green;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.gallery div:hover {
  transform: translateY(-5px);
}

.gallery img {
  width: 100%;
  height: 100%;
}

/* --------------- Footer */
.footer{
  height: 40px;
  margin-top: 40px;
  width: 100%;
  background-color: #C7E7C4;
  text-align: center;
  padding: 10px;
  font-size: 10px;
}

